@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  --primary-color: #FAF9F6;
  --secondary-color: #E6B8C2;
  --third-color: #1B1F3B;
  
  --react-color: #cff2fc;
  --angular-color: #ffc6e1;
  --tailwind-color: #bde9fc;
  --typescript-color: #c6e6ff;
  --csharp-color: #e3c2fc;
  --figma-color: #d0ffdb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-manrope: var(--font-manrope);
  
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-third: var(--third-color);
  --color-react: var(--react-color);
  --color-angular: var(--angular-color);
  --color-tailwind: var(--tailwind-color);
  --color-typescript: var(--typescript-color);
  --color-csharp: var(--csharp-color);
  --color-figma: var(--figma-color);
}

html, body {
  overflow-x: hidden;
  max-width: 100vw;
  font-family: var(--font-manrope), Arial, Helvetica, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes spin {
  0% {
    --gradient-rotation: 0deg;
  }
  100% {
    --gradient-rotation: 360deg;
  }
}
